<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="0.5">-->
    <title>Title</title>
</head>
<body>
<!--    {{ text }}-->
<!--    <img src={% static "photo.jpg" %} alt="person">-->

<p id="text"></p>
</body>
<script>
    const output = document.getElementById("text")
    let milliseconds = 3000
    setInterval(reFetch, milliseconds);
    let iteration = 0;
    let res = ""
    function reFetch(){

     fetch("../api")
     .then((response) => response.json())
     .then(response => {
        if(response.text !== res){
            res = response.text
            output.innerHTML = res
            iteration = 0;
        }
     }).catch(error => console.error('Error fetching data:', error));
     console.log(iteration)
      iteration++;
    }

</script>
</html>